#country-graph{
    height:285px;
}

.numbers{

    padding-bottom: 2.25em;
}
.panel .lg-number{
    margin-top:.33em;
    font-size: 88px;
    line-height: .22em;
}

.panel .sm-number{
    margin-top:1.5em;
    margin-left:0;
    font-size: 22px;
    list-style: none;
}




.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

.footer{
    margin:1em;
}

.panel .light-blue{
    color: #2ba6cb;
}

.panel .dark-blue{
    color: #434348;
}
.condense{
    margin-bottom: 10px;
}


ul li .tabs-title{
    border: 1px solid gray;
}
.tabs-content{
    border-top: 1px solid gray;
}

#flickr {
    display: inline-block;

}

#flickr img {
    padding: .25em;
    width: 145px;
    height: 100px;

}

#flickr-results {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.google-image{
    display: inline;
    float: left;
    width: 220px;
    margin: 7px 15px 1.25rem 0;
}
.news-outlet{
    font-weight: 500;
    font-size: .8em;
}
