body, p, h1,h2,h3,h4,h5,ul,li{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}



.red{
    color:#e35f5f;
}
.white{
    color:#FFF;
}


.uppercase {
    text-transform: uppercase;
}

.top-bar .toggle-topbar {
position: absolute;
left: 0;
top: 0;
}

.footer{
    background: #222;
    color: #fff;
    text-align: center;
    
}


#country-graph{
    height:285px;
}

.numbers{

    padding-bottom: 0em;
}
.panel {
    border:none;
    margin: 0; 
    padding: 1.25rem;
    background: #e35f5f;

}
.panel h2{
    color:#fff;
    font-size: 80px;
    text-align: center;
}

.panel h3{
    color:#fff;
    text-align: center;
    
}

.panel .button
{
    text-align: center;
    background: #fff;
    color: #e35f5f;
    width: 100%;
}




.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }




.condense{
    margin-bottom: 10px;
}


ul li .tabs-title{
    border: 1px solid gray;
}
.tabs-content{
    border-top: 1px solid gray;
}

#flickr {
    display: inline-block;

}

#flickr img {
    padding: .25em;
    width: 145px;
    height: 100px;

}

#flickr-results {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.google-image{
    display: inline;
    float: left;
    width: 220px;
    margin: 7px 15px 1.25rem 0;
}
.news-outlet{
    font-weight: 500;
    font-size: .8em;
}
